<!-- about-us.component.html -->

<div class="about-us">
  <h1>Like light Men's Clothing Store</h1>
  <img src="assets/home/1.png" alt="Store Image">
  <p>We are a store specializing in selling high-quality menswear. We offer a wide selection of fashionable and stylish clothes for men.</p>
  <p>To contact us, you can use the following information:</p>
  <ul>
    <li><i class="bi bi-geo-alt-fill"></i> Address: Lebanon Beirut Sabri</li>
    <li><i class="bi bi-phone-fill"></i> Phone Number: 123456789</li>
    <li><i class="bi bi-envelope-fill"></i> Email: info@elsafstore.com</li>
  </ul>
</div>
