<!-- شريط التنقل -->
<nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
  <div class="container">
  
    <!-- زر "القائمة" -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <div class="-25">
      <label for="myInput">Categories:</label>
      <select>
        <option *ngFor="let option of select">{{ option }}</option>
      </select>
  </div> -->
    <!-- قائمة التنقل -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item" *ngFor="let category of categories">
          <!-- <a class="nav-link text-dark" (click)="showProductsByCategory(category.categoryID)">{{ category.categoryName}}</a> -->
          
           <h3 style="color: blueviolet;">{{ category.nane }}</h3>
           
        </li>
      </ul>
    </div>
  </div>
</nav>

